{% load static %}


<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NovaBank - Espace Client</title>
    <link rel="stylesheet" href="{% static 'banking/login_client.css' %}">
</head>
<body>
    <div class="container">
        <!-- Partie gauche avec visuel et slogan -->
        <div class="left-section">
            <div class="illustration">
                <div class="circle"></div>
                <div class="stars"></div>
            </div>
            <h1 class="bank-name">NovaBank</h1>
            <p class="slogan">Votre sécurité, notre priorité</p>
        </div>

        <!-- Partie droite : Formulaire -->
        <div class="right-section">
            <h2 class="fade-slide">Connexion Client</h2>
            <p class="fade-slide delay1">Veuillez renseigner vos informations de connexion</p>

            <form action="#" method="post" class="fade-slide delay2">
                <div class="input-group">
                    <label for="email">Adresse e-mail</label>
                    <input type="email" id="email" name="email" placeholder="exemple@email.com" required>
                </div>

                <div class="input-group">
                    <label for="tel">Téléphone</label>
                    <input type="tel" id="tel" name="tel" placeholder="+261 32 12 345 67" required>
                </div>

                <div class="input-group">
                    <label for="account">Numéro de compte</label>
                    <input type="text" id="account" name="account" placeholder="0000 1234 5678 9012" required>
                </div>

                <div class="input-group">
                    <label for="password">Mot de passe</label>
                    <input type="password" id="password" name="password" placeholder="********" required>
                </div>

                <button type="submit" class="btn">Se connecter</button>
                <p class="forgot"><a href="#">Mot de passe oublié ?</a></p>

                <!-- Flèche de retour -->
                 <div class="">
                    <a href="{% url 'acceuil' %}" class="back-arrow">← Retour à l'accueil</a>
                 </div>
                
            </form>
        </div>
    </div>
</body>
</html>
