{% extends 'banking/base.html' %}
{% load static %}
{% block title %}Login-Administrateur{% endblock %}
{% block extra_css %}<link rel="stylesheet" href="{% static 'banking/login_admin.css' %}">{% endblock %}

{% block right %}

        <!-- Section droite -->
        <div class="right-section">
            <h2 class="fade-slide">Espace Administrateur</h2>
            <p class="fade-slide delay1">Connectez-vous pour accéder au tableau de bord</p>

            <!-- Messages d'erreur -->
            {% if messages %}
                <div class="messages">
                    {% for message in messages %}
                        <p class="error-message {{ message.tags }}">{{ message }}</p>
                    {% endfor %}
                </div>
            {% endif %}

            <!-- Formulaire -->
            <form action="{% url 'login_admin' %}" method="post" class="fade-slide delay2">
                {% csrf_token %}
                <div class="input-group">
                    <label for="username">Nom d’utilisateur</label>
                    <input type="text" id="username" name="username" placeholder="admin123" required>
                </div>

                <div class="input-group">
                    <label for="password">Mot de passe</label>
                    <input type="password" id="password" name="password" placeholder="********" required>
                </div>

                <button type="submit" class="btn">Se connecter</button>
                <p class="forgot"><a href="#">Mot de passe oublié ?</a></p>

                <a href="{% url 'acceuil' %}" class="back-arrow">Retour à l'accueil</a>
            </form>
        </div>
{% endblock %} 
